.wrapper {
	
	
}

.asknumber {
	background-color: $color-white;
	height: calc(100vh - 8rem);
	width: 100vw;
	position: relative;

	&__box {
		width: 100%;
		position: absolute;
		top: 35%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	&__text {
		text-align: center;
		font-size: 4rem;
		font-weight: 600;
	}

	&__input-box {
		margin-top: 2rem;
		width: 100%;
		align-items: center;
		display: flex;
		justify-content: center;
	}

	&__input {
		width: 80%;
		border: solid 2px lighter($color-black, 10%);
		font-size: 4rem;
		padding: .5rem 1rem;
		text-align: center;

		&:focus {
			outline: none;
			border: solid 2px $color-black;
		}
	}

	&__button-box {
		margin-top: 3rem;
	}

	&__button {
		font-size: 4rem;
		background-color: $color-black;
		padding: 1rem 2rem;
		color: white;
		border: none;
		box-shadow: 0rem .5rem 1rem rgba($color-black, .2);
	}

	&__otp {
		font-size: 3rem;
		color: darker($color-grey-light,5%);
	}
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

